* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}


.wrapper {
    margin: auto;
}

.container {
    width: 40em;
    height: 40em;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    padding: 48px;
    position: relative;
}

.action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.action button {
    width: 12em;
    height: 3em;
    border: none;
    background-color: rgb(186, 121, 247);
    border-radius: 1.5em;
    margin: .5em;
    font-weight: bold;
    cursor: pointer;
}

[data-color] {
    border: none;
    cursor: pointer;
}

[data-color]:hover {
    /* filter: brightness(2); */
}

.red {
    background-color: hsl(350, 60%, 25%);
}

.red[data-blink] {
    background-color: hsl(350, 60%, 40%);
}


.yellow {
    background-color: hsl(60, 60%, 25%);
}

.yellow[data-blink] {
    background-color: hsl(60, 60%, 40%);
}


.blue {
    background-color: hsl(221, 60%, 25%);
}

.blue[data-blink] {
    background-color: hsl(221, 60%, 40%);
}


.green {
    background-color: hsl(157, 60%, 25%);
}

.green[data-blink] {
    background-color: hsl(157, 60%, 40%);
}